@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,500,400italic,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif; }

body, html {
  margin: 0;
  height: 100%;
  position: fixed;
  background: #ffffff !important; }

.loading-text {
  color: #fff;
  letter-spacing: 4px;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16pt; }

#map-canvas {
  width: 100%;
  height: 300px; }

.wrapper {
  height: auto;
  width: 100%;
  visibility: hidden; }

.main-container {
  height: auto;
  width: 100%;
  position: relative; }

.landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../images/wallpaper-mac.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 2px #ccc solid; }

.about-page {
  height: auto;
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: 100vh;
  padding: 60px 0px;
  border-top: 1px #505f75 solid; }

.service-page {
  height: auto;
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: 100vh;
  padding: 60px 0px; }

.testimonial-page {
  height: auto;
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: 100vh;
  padding: 60px 0px; }

.calltoaction-2-page {
  height: auto;
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: 100vh;
  padding: 60px 0px; }

.contact-page {
  height: auto;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 60px 0px; }

header {
  width: 100%;
  height: 80px;
  background: none;
  position: fixed;
  top: 0;
  padding: 36px 0px;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out; }
  header .header-wrapper {
    width: 90%;
    height: inherit;
    margin: 0 auto; }
    header .header-wrapper .logo {
      float: left;
      margin: 10px;
      text-align: center;
      padding: 10px;
      border: 1px solid #ffffff; }
      header .header-wrapper .logo img {
        height: 40px;
        width: auto; }
    header .header-wrapper nav {
      text-align: right;
      float: right; }
      header .header-wrapper nav ul {
        padding: 28px 5px; }
        header .header-wrapper nav ul li {
          list-style: none;
          display: inline;
          padding: 6px 20px;
          border-bottom: 1px rgba(255, 255, 255, 0) solid;
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          -o-transition: 0.4s ease-in-out;
          transition: 0.4s; }
          header .header-wrapper nav ul li:hover {
            border-bottom: 1px #fff solid;
            -webkit-transition: 0.4s ease-in-out;
            -moz-transition: 0.4s ease-in-out;
            -o-transition: 0.4s ease-in-out;
            transition: 0.4s;
            cursor: pointer; }
          header .header-wrapper nav ul li:hover a {
            color: #000;
            -webkit-transition: 0.4s ease-in-out;
            -moz-transition: 0.4s ease-in-out;
            -o-transition: 0.4s ease-in-out;
            transition: 0.4s; }
          header .header-wrapper nav ul li:hover a > nav ul li {
            -webkit-transition: 0.4s ease-in-out;
            -moz-transition: 0.4s ease-in-out;
            -o-transition: 0.4s ease-in-out;
            transition: 0.4s; }
        header .header-wrapper nav ul a {
          font-size: 12pt;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.5);
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          -o-transition: 0.4s ease-in-out;
          transition: 0.4s;
          font-family: "Roboto", sans-serif;
          letter-spacing: 2px;
          font-weight: 300; }
        header .header-wrapper nav ul a:hover {
          color: white;
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          -o-transition: 0.4s ease-in-out;
          transition: 0.4s; }

.landing-logo {
  height: 350px;
  max-width: none;
  margin: 20px 0px; }

.home-1 {
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
  display: block; }
  .home-1 .calltoaction-1 {
    display: table;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    position: absolute;
    color: #fff; }
    .home-1 .calltoaction-1 nav {
      padding: 100px 0px; }
      .home-1 .calltoaction-1 nav ul {
        padding: 14px 5px; }
        .home-1 .calltoaction-1 nav ul li {
          list-style: none;
          display: inline;
          padding: 6px 20px;
          border-bottom: 1px transparent solid; }
          .home-1 .calltoaction-1 nav ul li:hover {
            border-bottom: 1px #fff solid;
            cursor: pointer; }
          .home-1 .calltoaction-1 nav ul li:hover a {
            color: #000; }
        .home-1 .calltoaction-1 nav ul a {
          font-size: 12pt;
          text-decoration: none;
          color: #ffffff;
          font-family: "Lato", sans-serif;
          letter-spacing: 2px; }
        .home-1 .calltoaction-1 nav ul a:hover {
          cursor: pointer; }
    .home-1 .calltoaction-1 h3 {
      color: #ffffff;
      padding: 30px 0px 0px 0px;
      letter-spacing: 4px;
      font-family: "Roboto", sans-serif;
      font-weight: 700; }
    .home-1 .calltoaction-1 p {
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 14pt; }

.learnmore-button {
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  text-align: center; }

.home-2 {
  height: 100vh;
  width: 50%;
  text-align: left;
  display: none; }
  .home-2 .calltoaction-2 {
    display: table;
    top: 0;
    left: 10%;
    bottom: 0;
    margin: auto;
    width: 50%;
    position: absolute; }
    .home-2 .calltoaction-2 a {
      display: inline-block;
      padding: 4px 20px 4px 0px; }

.home-3 {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: none; }

.about-page-title {
  margin: 0 auto;
  text-align: center;
  width: 50%; }

.about-page-content {
  height: auto;
  width: 80%;
  margin: 0 auto; }
  .about-page-content .about-page-content-1 {
    width: 100%;
    display: inline-block;
    margin: 60px 0px; }
    .about-page-content .about-page-content-1 .content-1-text {
      width: 85%; }
    .about-page-content .about-page-content-1 .content-1-image .image {
      width: 100%;
      height: 300px;
      margin: 0 auto;
      background: #BDBFC2; }
  .about-page-content .about-page-content-2 {
    width: 100%;
    display: inline-block;
    margin: 60px 0px;
    display: none; }
    .about-page-content .about-page-content-2 .content-2-text {
      width: 85%; }
    .about-page-content .about-page-content-2 .content-2-image .image {
      width: 100%;
      height: 300px;
      background: #BDBFC2; }
  .about-page-content .about-page-content-3 {
    width: 100%;
    display: inline-block;
    margin: 60px 0px;
    display: none; }
    .about-page-content .about-page-content-3 .content-3-text {
      width: 85%; }
    .about-page-content .about-page-content-3 .content-3-image .image {
      width: 100%;
      height: 300px;
      margin: 0 auto;
      background: #BDBFC2; }

.profile-pic {
  border: 6px #f4f4f4 solid;
  border-radius: 50%;
  margin: 10px 0px;
  -webkit-box-shadow: 0 7px 0px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 7px 0px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 0px -4px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s; }
  .profile-pic:hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s;
    border: 6px #505f75 solid;
    cursor: pointer; }

.aboutme-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #505f75;
  padding: 20px 0px;
  letter-spacing: 2px; }

.aboutme-content {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #919191;
  letter-spacing: 2px; }

.section-title {
  color: #444344;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center; }

.section-title-white {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center; }

.info-icons {
  height: 20px;
  width: 20px; }

.service-page-title {
  margin: 0 auto;
  text-align: center;
  width: 50%; }

.service-page-content {
  height: auto;
  width: 80%;
  margin: 0px auto; }
  .service-page-content .service-content-1 .col-lg-4 .image {
    width: 60%;
    height: 120px;
    background: #BDBFC2; }
  .service-page-content .service-content-2 {
    display: none;
    margin: 40px 0px; }
    .service-page-content .service-content-2 .col-lg-4 .image {
      width: 60%;
      height: 120px;
      background: #BDBFC2; }
  .service-page-content .service-content-3 {
    display: none;
    margin: 40px 0px; }
    .service-page-content .service-content-3 .col-lg-4 .image {
      width: 60%;
      height: 120px;
      background: #BDBFC2; }

.skills-icons {
  width: 50px;
  height: auto;
  display: inline-block;
  position: relative;
  margin: 10px; }
  .skills-icons .s-icon {
    fill: #505f75; }

.skills-section {
  margin-bottom: 60px; }

.testimonial-page-title {
  margin: 0 auto;
  text-align: center;
  width: 50%; }

.testimonial-page-content {
  width: 80%;
  margin: 0 auto; }

.client-page {
  position: relative;
  bottom: 0;
  left: 0;
  background: #efefef;
  height: auto;
  padding: 60px 0px 100px 0px;
  width: 100%;
  margin: 120px 0px 20px 0px;
  display: inline-block;
  border-top: 2px #e2e2e2 solid;
  border-bottom: 2px #e2e2e2 solid; }
  .client-page .client-page-content {
    width: 80%;
    margin: 0 auto; }
    .client-page .client-page-content .clients .col-lg-3 .client-logo {
      text-align: center;
      width: 100%;
      height: 50px;
      margin: 25px auto; }
      .client-page .client-page-content .clients .col-lg-3 .client-logo img {
        height: 100px;
        width: auto;
        opacity: 0.4; }

#testimonials {
  height: 80%;
  width: 100%;
  margin: 50px auto;
  padding: 20px 20px 40px 55px;
  position: relative; }
  #testimonials .testimonial {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1; }

#test_container {
  position: relative;
  overflow: hidden; }

#testimonials .testimonial_text {
  font-size: 14px;
  font-family: verdana;
  font-style: italic; }
#testimonials .testimonial_name {
  font-size: 14px;
  margin: 10px auto 3px;
  font-style: normal;
  font-family: arial; }
#testimonials .testimonial_designation {
  font-size: 12px;
  line-height: 14px;
  font-family: verdana; }

#t_pagers {
  text-align: center;
  bottom: 10px;
  z-index: 2; }
  #t_pagers .pager {
    display: inline-block;
    text-decoration: none;
    width: 10px;
    min-height: 10px;
    margin-right: 5px;
    background: #F4F3F3;
    border-radius: 50%;
    cursor: pointer;
    border: 1px #C9C7C7 solid; }
    #t_pagers .pager.active {
      background: #BDBFC2; }

.testimonial-wrapper {
  position: relative;
  width: 100%; }
  .testimonial-wrapper .testimonial-image {
    float: left;
    width: 30%; }
    .testimonial-wrapper .testimonial-image .image {
      width: 80%;
      height: 150px;
      background: #BDBFC2; }
  .testimonial-wrapper .testimonial-text {
    float: right;
    width: 70%; }

.calltoaction-2-content-1 {
  width: 49%;
  margin: 0 auto;
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute; }
  .calltoaction-2-content-1 .content-1-title {
    text-align: center; }

.subscription {
  width: 50%;
  margin: 40px auto; }

.searchArea button, .searchArea .inputDiv, .searchArea input {
  height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }
.searchArea button {
  float: right;
  margin-left: -1px;
  border: solid 1px gray; }
.searchArea .inputDiv {
  overflow: hidden;
  border: solid 1px gray; }
.searchArea input {
  border: 0;
  width: 100%;
  padding: 0 3px;
  height: 22px; }

.calltoaction-2-content-2 {
  width: 49%;
  margin: 0 auto;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute; }
  .calltoaction-2-content-2 .content-2-title {
    text-align: center; }
  .calltoaction-2-content-2 a {
    text-align: center; }

.contact-page-title {
  margin: 0 auto;
  text-align: center;
  width: 50%; }

.contact-wrapper {
  width: 80%;
  margin: 60px auto; }
  .contact-wrapper .col-sm-9 {
    padding: 20px 60px; }
    .contact-wrapper .col-sm-9 .contact-form {
      text-align: left !important; }
      .contact-wrapper .col-sm-9 .contact-form .form-group .control-label {
        text-align: left !important; }

.contact-form {
  width: 100%;
  margin: 0 auto; }

.footer {
  height: 100px;
  width: 100%;
  text-align: left; }
  .footer p {
    padding: 45px;
    margin: 0;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #919191; }

.expand-about {
  display: inline-block; }

.carousel .item {
  width: 100%;
  /*slider width */
  position: relative;
  max-height: 100vh;
  /*slider height */ }
  .carousel .item img {
    width: 100%;
    /*img width */ }

.item-title {
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  position: absolute;
  z-index: 1; }
  .item-title h1 {
    color: #fff; }
  .item-title p {
    color: #fff; }

/*full width container */
@media (max-width: 767px) {
  .block {
    margin-left: -20px;
    margin-right: -20px; } }
header.sticky {
  padding: 10px 0px;
  height: 100%;
  background: none;
  transition: all 0.9s ease-in-out;
  color: red !important; }
  header.sticky a {
    color: red; }

.button_container.sticky {
  background: red; }

.button_container {
  visibility: hidden;
  position: fixed;
  top: 8%;
  right: 5%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease; }
  .button_container:hover {
    opacity: 0.7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: white; }
  .button_container.active .middle {
    opacity: 0;
    background: white; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: white; }
  .button_container span {
    background: #919191;
    border-radius: 2px;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 4; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: 0.4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: 0.45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: 0.5s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16pt;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 1; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: white;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
.sep {
  width: 40px;
  height: 2px;
  background: #B19B74;
  opacity: 0.6;
  margin: 40px auto;
  text-align: center; }

.center {
  text-align: center;
  margin: 0 auto;
  position: relative; }

a.gallery-image {
  text-decoration: none; }
  a.gallery-image img {
    margin: 5px;
    height: 300px;
    width: 400px;
    object-fit: cover;
    overflow: hidden; }
  a.gallery-image.zoomed {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s; }
    a.gallery-image.zoomed img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      z-index: 9999;
      object-fit: contain; }

.gallery-overlay {
  position: relative;
  height: 300px;
  width: 400px; }

.gallery-mask {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.lightvox #modalTitle {
  color: #505f75;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }
.lightvox .lead {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #919191;
  font-size: 12pt; }
.lightvox .modal-content {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #919191;
  font-size: 12pt; }
.lightvox a {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  .lightvox a.button {
    border-color: none !important;
    color: white; }
    .lightvox a.button:hover {
      color: rgba(255, 255, 255, 0.85);
      box-shadow: #B19B74 0 0px 0px 40px inset; }

.dl-resume {
  display: inline-block; }
  .dl-resume a {
    -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    display: block;
    margin: 20px auto;
    max-width: 220px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300; }
    .dl-resume a.button {
      border-color: none !important;
      color: white;
      background: #505f75; }
      .dl-resume a.button:hover {
        color: rgba(255, 255, 255, 0.85);
        box-shadow: #B19B74 0 0px 0px 40px inset; }

pull-l {
  float: left;
  margin-right: 10px; }

/* =Kyoo Tooltip style
 */* You may grab the code from here on
 */* ----------------------------------- */
/* Tooltip wrapper ------- */
/* Add this class to HTML element you so desire Kyoo Tooltip to appear */
.kyoo-tooltip {
  position: relative; }
  .kyoo-tooltip .kyootip {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s; }
  .kyoo-tooltip:hover .kyootip {
    opacity: 1;
    visibility: visible; }

/* Kyoo Tooltip base style ------- */
.kyootip {
  color: #B19B74;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 2px #B19B74 solid;
  padding: 6px 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  z-index: 4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .kyootip:after {
    content: " ";
    font-size: 0;
    line-height: 0;
    position: absolute;
    width: 0;
    z-index: 1; }

.kyootip--bottom {
  top: 130%;
  left: -25px;
  margin-top: -10px;
  margin-left: 0px;
  width: 100px; }
  .kyootip--bottom:after {
    border-bottom: 5px solid #B19B74;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -5px;
    left: 50%;
    margin-left: -5px; }

/* Tooltip arrow */
/* When hovered, move tooltip at the bottom */
.kyoo-tooltip:hover .kyootip--bottom {
  margin-top: 0; }

.social {
  text-align: center;
  font-size: 2em;
  color: #919191;
  overflow: hidden;
  display: list-item; }
  .social a {
    color: inherit;
    text-decoration: none; }
  .social i {
    margin: 0.3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0); }
    .social i:hover {
      margin-top: -1px; }
    .social i#github:hover {
      color: black; }
    .social i#linkedin:hover {
      color: #0177B5; }
    .social i#mail:hover {
      color: #F7B401; }

.hidden-nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 56;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); }
  .hidden-nav .noshow-wrapper {
    width: 90%;
    margin: 0 auto; }
    .hidden-nav .noshow-wrapper .logo {
      float: left;
      margin: 10px;
      text-align: center;
      padding: 10px;
      margin: 10px;
      border: 1px solid #B19B74; }
    .hidden-nav .noshow-wrapper img {
      height: 40px; }
    .hidden-nav .noshow-wrapper nav {
      text-align: right;
      float: right; }
      .hidden-nav .noshow-wrapper nav ul {
        padding: 28px 5px; }
        .hidden-nav .noshow-wrapper nav ul li {
          list-style: none;
          display: inline;
          padding: 6px 20px;
          border-bottom: 1px rgba(255, 255, 255, 0) solid; }
          .hidden-nav .noshow-wrapper nav ul li:hover {
            border-bottom: 1px #B19B74 solid;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            cursor: pointer; }
          .hidden-nav .noshow-wrapper nav ul li:hover a {
            color: #B19B74;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
          .hidden-nav .noshow-wrapper nav ul li:hover a > nav ul li {
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
        .hidden-nav .noshow-wrapper nav ul a {
          font-size: 12pt;
          text-decoration: none;
          color: #919191;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          font-family: "Roboto", sans-serif;
          letter-spacing: 2px;
          font-weight: 300; }
        .hidden-nav .noshow-wrapper nav ul a:hover {
          color: #919191;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
  .hidden-nav .get-started-2 {
    floar: right;
    z-index: 7; }

.hidden {
  display: none;
  transition: all 4s ease-in-out;
  visibility: hidden;
  height: 0;
  width: 0; }

#mydiv {
  width: 100%;
  height: 120px;
  background: transparent;
  position: absolute;
  bottom: 0; }

.contact-page-content .form-container {
  width: 30%;
  margin: 0 auto; }
.contact-page-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.contact-page-content li {
  position: relative; }
.contact-page-content form {
  border-radius: 0 0 5px 5px;
  border-top: none;
  background: #fff; }
.contact-page-content ul li:not(:last-child) {
  display: block;
  border-bottom: 1px solid #ccc; }
.contact-page-content label {
  display: block;
  font-size: 0.8125em;
  /* 13/16 */
  position: absolute;
  top: 1.2em;
  left: 1em;
  color: #B19B74;
  opacity: 1;
  transition: top 0.4s ease, opacity 0.6s ease, color 0.4s ease; }
.contact-page-content input, .contact-page-content textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 3.25em 1em 1em;
  font-size: 10pt;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #919191; }
.contact-page-content textarea {
  height: 16em;
  resize: none;
  font-size: 10pt;
  font-family: "Roboto", sans-serif;
  padding-left: 0.85em; }
.contact-page-content a.button {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 220px;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  .contact-page-content a.button.button {
    border-color: none !important;
    color: white;
    background: #505f75; }
    .contact-page-content a.button.button:hover {
      color: rgba(255, 255, 255, 0.85);
      box-shadow: #B19B74 0 0px 0px 40px inset; }
.contact-page-content input[type="submit"] {
  display: block;
  background: none;
  padding: 10px 0px;
  font-size: 12pt;
  margin: 0;
  color: #ffffff; }
.contact-page-content .js-hide-label label {
  opacity: 0;
  top: 0.6em; }
.contact-page-content .js-unhighlight-label label {
  color: #505f75;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
.contact-page-content .js-highlight-label label {
  color: #B19B74;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

body {
  padding: 0 !important; }

.column {
  float: none !important; }

/*# sourceMappingURL=style.css.map */
