* {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #313131 !important; }

.loader {
  width: 400px;
  height: 400px; }

.loader div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: 0;
  border: 1px solid white;
  animation: anim 4s infinite linear; }

@keyframes anim {
  0% {
    opacity: 0.0;
    width: 0vmin;
    height: 0vmin; }
  10% {
    opacity: 0.2; }
  100% {
    opacity: 0.0;
    width: 400px;
    height: 400px; } }
.loader div:nth-child(1) {
  animation-delay: 200ms; }

.loader div:nth-child(2) {
  animation-delay: 400ms; }

.loader div:nth-child(3) {
  animation-delay: 600ms; }

.loader div:nth-child(4) {
  animation-delay: 800ms; }

.loader div:nth-child(5) {
  animation-delay: 1000ms; }

.loader div:nth-child(6) {
  animation-delay: 1200ms; }

.loader div:nth-child(7) {
  animation-delay: 1400ms; }

.loader div:nth-child(8) {
  animation-delay: 1600ms; }

.loader div:nth-child(9) {
  animation-delay: 1800ms; }

.wrapper {
  opacity: 1;
  overflow: auto;
  height: auto; }

.wrapper.hide {
  opacity: 0;
  overflow: hidden;
  height: 0; }

.background-video {
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 100%;
  min-height: 672px;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(0);
  background-size: cover;
  transition: 1s opacity;
  z-index: 1; }

.main-container {
  height: auto;
  width: 100%;
  position: relative;
  opacity: 1;
  overflow: auto; }

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.filter-1 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
  height: 672px;
  width: 100%; }

.filter-2 {
  background: rgba(71, 95, 119, 0.4);
  position: fixed;
  z-index: 2;
  height: 672px;
  width: 100%; }

.hero-section {
  width: 40%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 10vh 0;
  z-index: 4; }
  .hero-section .logo {
    margin: 0 auto 40px;
    text-align: center; }
    .hero-section .logo img {
      text-align: center;
      height: 150px;
      width: auto;
      z-index: 4; }
  .hero-section h1 {
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 4px;
    font-weight: 100;
    margin-bottom: .2em; }
  .hero-section h2 {
    color: #f3f3f3;
    font-size: 20px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 4px;
    font-weight: 100;
    opacity: 0.5; }
  .hero-section p {
    text-align: center;
    color: #f3f3f3;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    line-height: 24px; }
  .hero-section .buttons {
    margin: 2em 0; }
    .hero-section .buttons .letstalk {
      margin: 0 auto;
      text-align: center; }
      .hero-section .buttons .letstalk .btn {
        width: 200px;
        height: auto;
        margin: 0 auto;
        border: 1px #f3f3f3 solid;
        border-radius: 10px;
        padding: 1em 0; }
        .hero-section .buttons .letstalk .btn i {
          color: #f3f3f3;
          font-size: 25px;
          margin-right: 14px;
          display: inline-block; }
      .hero-section .buttons .letstalk p {
        color: #f3f3f3;
        font-family: 'Helvetica', sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        display: inline-block; }

.content-selector {
  padding: 3em 0em;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  position: relative; }
  .content-selector .dev,
  .content-selector .film {
    display: inline;
    margin: 0em 2em;
    opacity: .50;
    -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
    transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
    .content-selector .dev.active,
    .content-selector .film.active {
      opacity: 1; }
    .content-selector .dev:hover,
    .content-selector .film:hover {
      opacity: 1;
      cursor: pointer;
      -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
      transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
  .content-selector i {
    color: #313131;
    display: inline;
    font-size: 40px; }

.section-1 {
  height: 672px;
  z-index: 1;
  width: 100%; }
  .section-1 .content-selector {
    padding: 3em 0em;
    margin: 0 auto;
    text-align: center; }
    .section-1 .content-selector .devNav,
    .section-1 .content-selector .filmNav {
      display: inline;
      margin: 0em 2em;
      opacity: .28;
      -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
      transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-1 .content-selector .devNav.active,
      .section-1 .content-selector .filmNav.active {
        opacity: 1; }
      .section-1 .content-selector .devNav:hover,
      .section-1 .content-selector .filmNav:hover {
        opacity: 1;
        cursor: pointer;
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
    .section-1 .content-selector i {
      color: #f3f3f3;
      display: inline;
      font-size: 40px; }

.section-2 {
  background: #f3f3f3;
  height: auto;
  z-index: 2;
  position: relative;
  text-align: center; }
  .section-2 .content-text {
    width: 50%;
    margin: 0 auto; }
  .section-2 h2 {
    font-family: 'Roboto', sans-serif;
    padding: 2em 0 1em;
    color: #313131; }
  .section-2 p {
    color: #313131;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 18px; }
  .section-2 .works {
    width: 100%; }
  .section-2 .all-work {
    height: 600px;
    width: 100%; }
  .section-2 .work {
    width: 33.333%;
    height: 300px;
    float: left;
    position: relative; }
    .section-2 .work .hover {
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 2;
      -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
      transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-2 .work .hover .text-wrapper {
        width: 100%;
        height: 100%;
        display: table;
        text-align: center; }
        .section-2 .work .hover .text-wrapper .text-content {
          display: table-cell;
          vertical-align: middle; }
      .section-2 .work .hover p {
        -webkit-transform: translate3d(0px, 20px, 0px) scale(1);
        -moz-transform: translate3d(0px, 20px, 0px) scale(1);
        -ms-transform: translate3d(0px, 20px, 0px) scale(1);
        transform: translate3d(0px, 20px, 0px) scale(1);
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        color: #f3f3f3;
        text-align: center;
        vertical-align: middle;
        font-family: 'Helvetica', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 32px; }
    .section-2 .work:hover > .hover {
      cursor: pointer;
      opacity: 1;
      -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
      transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-2 .work:hover > .hover p {
        -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
        -moz-transform: translate3d(0px, 0px, 0px) scale(1);
        -ms-transform: translate3d(0px, 0px, 0px) scale(1);
        transform: translate3d(0px, 0px, 0px) scale(1);
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
    .section-2 .work:hover {
      background-size: 100%;
      -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
      transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
  .section-2 .work-1 {
    background: url(../images/gnnp.jpg) no-repeat;
    background-size: 105%;
    background-position: top;
    position: relative;
    -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
    transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
  .section-2 .work-2 {
    background: url(../images/c1.jpg) no-repeat;
    background-size: 105%;
    background-position: top;
    -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
    transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
  .section-2 .work-3 {
    background: url(../images/abv.jpg) no-repeat;
    background-size: 105%;
    background-position: top;
    -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
    transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
  .section-2 .work-4 {
    background: url(../images/skyrocket-starterkit.jpg) no-repeat;
    background-size: 105%;
    background-position: top;
    -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
    transition: all 0.7s cubic-bezier(1, 0, 0, 1); }

.section-3 {
  background: #f3f3f3;
  height: auto;
  z-index: 2;
  position: relative;
  padding-top: 4em;
  text-align: center; }
  .section-3 h2 {
    font-family: 'Roboto', sans-serif;
    padding: 2em 0 1em;
    color: #313131; }
  .section-3 p {
    color: #313131;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    line-height: 16px; }
  .section-3 .experience-wrapper {
    width: 100%; }
    .section-3 .experience-wrapper .company {
      height: 150px;
      width: 100%;
      position: relative;
      -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
      transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-3 .experience-wrapper .company .logo {
        position: relative;
        z-index: 3;
        vertical-align: middle;
        padding: 2em 0px;
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
        .section-3 .experience-wrapper .company .logo img {
          height: 82px; }
      .section-3 .experience-wrapper .company .filter-1 {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        z-index: 2;
        height: 150px;
        width: 100%;
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-3 .experience-wrapper .company .filter-2 {
        background: rgba(71, 95, 119, 0.4);
        position: absolute;
        z-index: 2;
        height: 150px;
        width: 100%; }
      .section-3 .experience-wrapper .company .filter-3 {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 2;
        height: 0;
        width: 100%;
        -webkit-transform: translate3d(0px, 150px, 0px) scale(1);
        -moz-transform: translate3d(0px, 150px, 0px) scale(1);
        -ms-transform: translate3d(0px, 150px, 0px) scale(1);
        transform: translate3d(0px, 150px, 0px) scale(1);
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-3 .experience-wrapper .company.company-1 {
        background: url(../images/dotty-bg.jpg) no-repeat;
        background-size: cover;
        background-position: center; }
      .section-3 .experience-wrapper .company.company-2 {
        background: url(../images/skyrocket-bg.png) no-repeat;
        background-size: cover;
        background-position: center; }
        .section-3 .experience-wrapper .company.company-2 .logo {
          padding: 2.7em 0px; }
          .section-3 .experience-wrapper .company.company-2 .logo img {
            height: 61px; }
      .section-3 .experience-wrapper .company.company-3 {
        background: url(../images/xml-bg.jpg) no-repeat;
        background-size: cover;
        background-position: center; }
      .section-3 .experience-wrapper .company.company-4 {
        background: url(../images/teamops-bg.png) no-repeat;
        background-size: cover;
        background-position: center; }
      .section-3 .experience-wrapper .company .description {
        opacity: 0;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        margin: auto;
        vertical-align: middle;
        -webkit-transform: translate3d(0px, 75px, 0px) rotateX(90deg) scale(1);
        -moz-transform: translate3d(0px, 75px, 0px) rotateX(90deg) scale(1);
        -ms-transform: translate3d(0px, 75px, 0px) rotateX(90deg) scale(1);
        transform: translate3d(0px, 75px, 0px) rotateX(90deg) scale(1);
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
        .section-3 .experience-wrapper .company .description .description-wrapper {
          width: 100%;
          height: 100%;
          display: table;
          text-align: center; }
          .section-3 .experience-wrapper .company .description .description-wrapper .description-content {
            width: 50%;
            display: table-cell;
            vertical-align: middle; }
        .section-3 .experience-wrapper .company .description p {
          color: #f3f3f3;
          font-family: 'Helvetica', sans-serif;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 1px; }
      .section-3 .experience-wrapper .company:hover {
        cursor: pointer;
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-3 .experience-wrapper .company:hover .logo {
        opacity: 0;
        -webkit-transform: translate3d(0px, -75px, 0px) rotateX(-90deg) scale(1);
        -moz-transform: translate3d(0px, -75px, 0px) rotateX(-90deg) scale(1);
        -ms-transform: translate3d(0px, -75px, 0px) rotateX(-90deg) scale(1);
        transform: translate3d(0px, -75px, 0px) rotateX(-90deg) scale(1);
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-3 .experience-wrapper .company:hover .filter-3 {
        height: 150px;
        -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
        -moz-transform: translate3d(0px, 0px, 0px) scale(1);
        -ms-transform: translate3d(0px, 0px, 0px) scale(1);
        transform: translate3d(0px, 0px, 0px) scale(1);
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .section-3 .experience-wrapper .company:hover .description {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale(1);
        -moz-transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale(1);
        -ms-transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale(1);
        transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale(1);
        -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
        transition: all 0.7s cubic-bezier(1, 0, 0, 1); }

.contact-me {
  height: 450px;
  background: #f3f3f3;
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 1;
  position: relative;
  z-index: 3; }
  .contact-me .contact-bg {
    background: url(../images/contact-bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center -150px;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute; }
  .contact-me h2 {
    color: #313131;
    text-align: center;
    padding: 4em 0; }

footer {
  background: #282828;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 5; }
  footer p {
    color: #f3f3f3;
    font-family: 'Helvetica Nueue', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 100; }

.film {
  background: #f3f3f3;
  height: auto;
  z-index: 2;
  position: relative;
  text-align: center; }
  .film h2 {
    padding: 2em 0 4em; }
  .film h3 {
    padding: 0 0 4em; }
  .film .image-wrapper {
    width: 100%;
    display: inline-block; }
    .film .image-wrapper .image {
      width: 33.3333%;
      height: 300px;
      float: left; }
      .film .image-wrapper .image iframe.flickr-embed-frame {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important; }
      .film .image-wrapper .image .flickr-embed .flickr-embed-photo img {
        height: 300px !important;
        width: auto !important; }

section.hide {
  display: none; }
section.show {
  display: block; }

/*# sourceMappingURL=style.css.map */
