* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #313131!important;
    
}
.loader {
    width: 400px;
    height: 400px;
}
.loader div {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:0px;
  height:0px;
  border-radius:100%;
  opacity:0;
  border:1px solid white;
  animation:anim 4s infinite linear;
}

@keyframes anim {
  0% {
    opacity:0.0;
    width:0vmin;
    height:0vmin;
  }
  10% {
    opacity:0.2;
  }
  100% {
    opacity:0.0;
    width:400px;
    height:400px;
  }
}

.loader div:nth-child(1) { animation-delay:200ms; }
.loader div:nth-child(2) { animation-delay:400ms; }
.loader div:nth-child(3) { animation-delay:600ms; }
.loader div:nth-child(4) { animation-delay:800ms; }
.loader div:nth-child(5) { animation-delay:1000ms; }
.loader div:nth-child(6) { animation-delay:1200ms; }
.loader div:nth-child(7) { animation-delay:1400ms; }
.loader div:nth-child(8) { animation-delay:1600ms; }
.loader div:nth-child(9) { animation-delay:1800ms; }


.wrapper{
    opacity: 1;
    overflow: auto;
    height: auto;
}
.wrapper.hide{
    opacity: 0;
    overflow: hidden;
    height: 0
}
.background-video {
    position: fixed;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 672px;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(0);
    background-size: cover;
    transition: 1s opacity;
    z-index: 1;
}

.main-container {
    height: auto;
    width: 100%;
    position: relative;
    opacity: 1;
    overflow: auto;
    
}

.content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.filter-1 {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 2;
    height: 672px;
    width: 100%;
}

.filter-2 {
    background: rgba(71, 95, 119, 0.40);
    position: fixed;
    z-index: 2;
    height: 672px;
    width: 100%;
}

.hero-section {
    width: 40%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 10vh 0;
    z-index: 4;
    .logo {
        margin: 0 auto 100px;
        text-align: center;
        img {
            text-align: center;
            height: 150px;
            width: auto;
            z-index: 4;
        }
    }
    h1 {
        color: #f3f3f3;
        font-size: 30px;
        text-align: center;
        font-family: 'Helvetica';
        letter-spacing: 2px;
        font-weight: 500;
        margin: 1em 0;
    }
    p {
        text-align: center;
        color: #f3f3f3;
        font-family: 'Helvetica', sans-serif;
        font-weight: 100;
        line-height: 24px;
    }
}

.content-selector {
    padding: 3em 0em;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
    .dev,
    .film {
        display: inline;
        margin: 0em 2em;
        opacity: .50;
        &.active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
    i {
        color: #313131;
        display: inline;
        font-size: 40px;
    }
}

.section-1 {
    height: 672px;
    z-index: 1;
    width: 100%;
    .content-selector {
        padding: 6em 0em;
        margin: 0 auto;
        text-align: center;
        .devNav,
        .filmNav {
            display: inline;
            margin: 0em 2em;
            opacity: .28;
            &.active {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        i {
            color: #f3f3f3;
            display: inline;
            font-size: 40px;
        }
    }
}

.section-2 {
    background: #f3f3f3;
    height: auto;
    z-index: 2;
    position: relative;
    text-align: center;
    .content-text {
        width: 50%;
        margin: 0 auto;
    }
    h2 {
        font-family: 'Roboto', sans-serif;
        padding: 2em 0 1em;
        color: #313131;
    }
    p {
        color: #313131;
        font-family: 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }
    .works {
        width: 100%;
    }
    .all-work {
        height: 600px;
        width: 100%;
    }
    .work {
        width: 33.333%;
        height: 300px;
        float: left;
        position: relative;
        .hover {
            background: rgba(0, 0, 0, 0.70);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 2;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            .text-wrapper {
                width: 100%;
                height: 100%;
                display: table;
                text-align: center;
                .text-content {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            p {
                color: #f3f3f3;
                text-align: center;
                vertical-align: middle;
                font-family: 'Helvetica', sans-serif;
                font-size: 20px;
                letter-spacing: 2px;
                line-height: 32px;
            }
        }
        &:hover > .hover {
            cursor: pointer;
            opacity: 1;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
        }
    }
    .work-1 {
        background: url(../images/gnnp.jpg)no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }
    .work-2 {
        background: url(../images/c1.jpg)no-repeat;
        background-size: cover;
        background-position: top;
    }
    .work-3 {
        background: url(../images/abv.jpg)no-repeat;
        background-size: cover;
        background-position: top;
    }
    .work-4 {
        background: url(../images/skyrocket-starterkit.jpg)no-repeat;
        background-size: cover;
        background-position: top;
    }
    .past-works {
        width: 100%;
        height: 300px;
        div {
            width: 33.333%;
            height: 300px;
            display: inline-block;
            float: left;
            position: relative;
            &.work-1 {
                background: url(../images/c1.jpg)no-repeat;
                background-size: cover;
                background-position: top;
            }
            &.work-2 {
                background: url(../images/abv.jpg)no-repeat;
                background-size: cover;
                background-position: top;
            }
            &.work-3 {
                background: url(../images/skyrocket-starterkit.jpg)no-repeat;
                background-size: cover;
                background-position: top;
            }
            .hover {
                background: rgba(0, 0, 0, 0.70);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 2;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
                .text-wrapper {
                    width: 100%;
                    height: 100%;
                    display: table;
                    text-align: center;
                    .text-content {
                        width: 100%;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                p {
                    color: #f3f3f3;
                    text-align: center;
                    vertical-align: middle;
                    font-family: 'Helvetica', sans-serif;
                    font-size: 30px;
                    letter-spacing: 2px;
                    line-height: 32px;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &:hover > .hover {
                cursor: pointer;
                opacity: 1;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
        }
    }
}

.section-3 {
    background: #f3f3f3;
    height: auto;
    z-index: 2;
    position: relative;
    padding-top: 4em;
    text-align: center;
    h2 {
        font-family: 'Roboto', sans-serif;
        padding: 2em 0 1em;
        color: #313131;
    }
    p {
        color: #313131;
        font-family: 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }
    .experience-wrapper {
        width: 100%;
        .company {
            height: 150px;
            width: 100%;
            position: relative;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            .logo {
                position: relative;
                z-index: 3;
                vertical-align: middle;
                padding: 2em 0px;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
                img {
                    height: 82px;
                }
            }
            .filter-1 {
                background: rgba(0, 0, 0, 0.7);
                position: absolute;
                z-index: 2;
                height: 150px;
                width: 100%;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            .filter-2 {
                background: rgba(71, 95, 119, 0.40);
                position: absolute;
                z-index: 2;
                height: 150px;
                width: 100%;
            }
            &.company-1 {
                background: url(../images/dotty-bg.jpg)no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.company-2 {
                background: url(../images/skyrocket-bg.png)no-repeat;
                background-size: cover;
                background-position: center;
                .logo {
                    padding: 2.7em 0px;
                    img {
                        height: 61px;
                    }
                }
            }
            &.company-3 {
                background: url(../images/xml-bg.jpg)no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.company-4 {
                background: url(../images/teamops-bg.png)no-repeat;
                background-size: cover;
                background-position: center;
            }
            .description {
                opacity: 0;
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                margin: auto;
                vertical-align: middle;
                .description-wrapper {
                    width: 100%;
                    height: 100%;
                    display: table;
                    text-align: center;
                    .description-content {
                        width: 50%;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                p {
                    color: #f3f3f3;
                    font-family: 'Helvetica', sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    ;
                    letter-spacing: 1px;
                }
            }
            &:hover {
                cursor: pointer;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            &:hover .logo {
                opacity: 0;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            &:hover .filter-1 {
                background: rgba(0, 0, 0, 0.9);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            &:hover .description {
                opacity: 1;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
        }
    }
}

.contact-me {
    height: 450px;
    background: #f3f3f3;
    background-size: cover;
    background-position: center;
    width: 100%;
    opacity: 1;
    position: relative;
    z-index: 3;
    .contact-bg {
        background: url(../images/contact-bg2.jpg)no-repeat;
        background-size: cover;
        background-position: center -150px;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        position: absolute;
    }
    h2 {
        color: #313131;
        text-align: center;
        padding: 4em 0;
    }
}

footer {
    background: #282828;
    width: 100%;
    height: 40px;
    p {
        color: #f3f3f3;
        font-family: 'Helvetica Nueue', sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 40px;
        font-weight: 100;
    }
}

//Film
.film {
    background: #f3f3f3;
    height: auto;
    z-index: 2;
    position: relative;
    text-align: center;
    h2{
        padding: 2em 0 4em;
    }
    h3{
        padding: 0 0 4em;
    }
    .image-wrapper {
        width: 100%;
        display: inline-block;
        .image {
            width: 33.3333%;
            height: 300px;
            float: left;
            iframe.flickr-embed-frame {
                width: 100%!important;
                height: 100%!important;
                max-width: 100%!important;
            }
            .flickr-embed .flickr-embed-photo img{
                    height: 300px!important;
    width: auto!important;
            }
        }
    }
}

section {
    &.hide {
        display: none;
    }
    &.show {
        display: block;
    }
}