* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #313131!important;
}

body >:not(.pace),
body:before,
body:after {
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    transition: all .7s ease-out;
    overflow: auto;
    height: auto;
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
    -moz-transform: translate3d(0px, 0px, 0px) scale(1);
    -ms-transform: translate3d(0px, 0px, 0px) scale(1);
    transform: translate3d(0px, 0px, 0px) scale(1);
}

body:not(.pace-done) >:not(.pace),
body:not(.pace-done):before,
body:not(.pace-done):after {
    -webkit-transform: translate3d(0px, 20px, 0px) scale(1);
    -moz-transform: translate3d(0px, 20px, 0px) scale(1);
    -ms-transform: translate3d(0px, 20px, 0px) scale(1);
    transform: translate3d(0px, 20px, 0px) scale(1);
    opacity: 0;
    overflow: hidden;
    height: 0;
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    transition: all .7s ease-out;
}

.loader {
    width: 400px;
    height: 400px;
}

.loader div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 100%;
    opacity: 0;
    border: 1px solid white;
    animation: anim 4s infinite linear;
}

@keyframes anim {
    0% {
        opacity: 0.0;
        width: 0vmin;
        height: 0vmin;
    }
    10% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.0;
        width: 400px;
        height: 400px;
    }
}

.loader div:nth-child(1) {
    animation-delay: 200ms;
}

.loader div:nth-child(2) {
    animation-delay: 400ms;
}

.loader div:nth-child(3) {
    animation-delay: 600ms;
}

.loader div:nth-child(4) {
    animation-delay: 800ms;
}

.loader div:nth-child(5) {
    animation-delay: 1000ms;
}

.loader div:nth-child(6) {
    animation-delay: 1200ms;
}

.loader div:nth-child(7) {
    animation-delay: 1400ms;
}

.loader div:nth-child(8) {
    animation-delay: 1600ms;
}

.loader div:nth-child(9) {
    animation-delay: 1800ms;
}

.wrapper {
    opacity: 1;
    overflow: auto;
    height: auto;
}

.wrapper.hide {
    opacity: 0;
    overflow: hidden;
    height: 0
}

.background-video {
    position: fixed;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 672px;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(0);
    background-size: cover;
    transition: 1s opacity;
    z-index: 1;
}

.main-container {
    height: auto;
    width: 100%;
    position: relative;
    opacity: 1;
    overflow: auto;
}

.content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.filter-noise {
    background: url(../images/filter-noise.png) repeat;
    position: fixed;
    z-index: 2;
    height: 672px;
    width: 100%;
}

.filter-pattern {
    background: url(../images/filter-pattern.png) repeat;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
}

.filter-1 {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
}

.filter-2 {
    background: rgba(71, 95, 119, 0.40);
    position: fixed;
    z-index: 2;
    height: 672px;
    width: 100%;
}

.scroll-detect {
    height: 1px;
    width: 100%;
    display: inline-block;
}

.hero-section {
    width: 40%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 10vh 0;
    z-index: 4;
    .logo {
        margin: 0 auto 40px;
        text-align: center;
        img {
            text-align: center;
            height: 150px;
            width: auto;
            z-index: 4;
        }
    }
    h1 {
        color: #f3f3f3;
        font-size: 34px;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        letter-spacing: 6px;
        font-weight: 100;
        margin-bottom: .8em;
    }
    h2 {
        color: #f3f3f3;
        font-size: 16px;
        text-align: center;
        font-family: 'Helvetica', sans-serif;
        letter-spacing: 4px;
        font-weight: 100;
        opacity: 0.5;
    }
    p {
        text-align: center;
        color: #f3f3f3;
        font-family: 'Helvetica', sans-serif;
        font-weight: 100;
        line-height: 24px;
    }
    .film {
        background: none;
        h2 {
            padding: 0;
        }
    }
    .buttons {
        margin: 2em 0;
        .letstalk {
            margin: 0 auto;
            text-align: center;
            p {
                color: #f3f3f3;
                font-family: 'Gurajada', serif;
                font-size: 28px;
                letter-spacing: 2px;
                display: inline-block;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
        }
    }
    .whatido {
        text-align: center;
        margin: 2em auto 0;
        height: 65px;
        h3 {
            color: #f3f3f3;
            font-family: 'Helvetica', sans-serif;
            font-size: 18px;
            letter-spacing: 2px;
            display: inline-block;
            padding-bottom: .25em;
        }
        p {
            color: #f3f3f3;
            font-family: 'Helvetica', sans-serif;
            font-size: 18px;
            letter-spacing: 2px;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}



.content-selector-wrapper {
    -webkit-transform: translate3d(0px\s, -90px, 0px) scale(1);
    -moz-transform: translate3d(0px, -90px, 0px) scale(1);
    -ms-transform: translate3d(0px, -90px, 0px) scale(1);
    transform: translate3d(0px, -90px, 0px) scale(1);
    -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
    transition: all .7s cubic-bezier(1, 0, 0, 1);
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    &.scrolled {
        -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
        -moz-transform: translate3d(0px, 0px, 0px) scale(1);
        -ms-transform: translate3d(0px, 0px, 0px) scale(1);
        transform: translate3d(0px, 0px, 0px) scale(1);
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
    }
}

.content-selector {
    padding: 3em 0em;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
    .dev,
    .film {
        background: none;
        display: inline;
        margin: 0em 2em;
        opacity: .50;
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
        &.active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
        }
    }
    i {
        color: #313131;
        display: inline;
        font-size: 40px;
    }
    &.selector-2 {
        padding: 1em 0;
    }
}

.about-container {
    width: 100%;
    display: flex;
    padding: 4em 0 0;
    .content-noise {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/content-noise.png)repeat;
        z-index: 2;
        top: 0;
        opacity: 0.65;
    }
    .portrait {
        background: url(../images/portrait.png) no-repeat;
        background-position: center -2px;
        background-size: cover;
        height: 500px;
        width: 40%;
        float: right;
        position: relative;
        h1 {
            position: absolute;
            top: 240px;
            left: 86px;
            right: 0;
            bottom: 0;
            vertical-align: middle;
            font-family: 'Permanent Marker', cursive;
            color: #f3f3f3;
            font-size: 120px;
            z-index: 5;
        }
    }
    .content-text {
        position: relative;
        // padding-left: 4em;
        float: left;
        width: 60%!important;
        z-index: 3;
        min-height: 420px;
    }
    .services-wrapper {
        .services {
            padding: 4em 0em 4em;
            img {
                display: inline-block;
                width: 100px;
            }
            p {
                display: inline-block;
                padding-left: 20px;
                vertical-align: top;
                display: inline-block;
                margin-top: 18px;
            }
            div {
                display: inline-block;
                padding-right: 4em;
            }
        }
    }
    .social-icons {
        position: absolute;
        bottom: 0;
        float: left;
        padding: 4em 0 0;
        i {
            display: inline-block;
            padding-right: 1em;
            font-size: 30px;
            color: #313131;
            opacity: 0.7;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            &:hover {
                cursor: pointer;
                opacity: 1;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
        }
    }
}

.section-1 {
    height: 672px;
    z-index: 1;
    width: 100%;
    .content-selector {
        padding: 3em 0em;
        margin: 0 auto;
        text-align: center;
        .devNav,
        .filmNav {
            display: inline;
            margin: 0em 2em;
            opacity: .28;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            &.active {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
                cursor: pointer;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
        }
        i {
            color: #f3f3f3;
            display: inline;
            font-size: 40px;
        }
    }
}

.section-2 {
    background: #f3f3f3;
    height: auto;
    z-index: 2;
    position: relative;
    text-align: center;
    .content-text {
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }
    h2 {
        font-family: 'Permanent Marker', cursive;
        padding: 2em 0 1em;
        color: #313131;
    }
    p {
        color: #313131;
        font-family: 'Chathura', sans-serif;
        font-size: 35px;
        line-height: 32px;
    }
    .works {
        width: 100%;
    }
    .all-work {
        height: 600px;
        width: 100%;
    }
    .work {
        width: 33.333%;
        height: 300px;
        float: left;
        position: relative;
        .hover {
            background: rgba(0, 0, 0, 0.70);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 2;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            .text-wrapper {
                width: 100%;
                height: 100%;
                display: table;
                text-align: center;
                .text-content {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            p {
                -webkit-transform: translate3d(0px, 20px, 0px) scale(1);
                -moz-transform: translate3d(0px, 20px, 0px) scale(1);
                -ms-transform: translate3d(0px, 20px, 0px) scale(1);
                transform: translate3d(0px, 20px, 0px) scale(1);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
                color: #f3f3f3;
                text-align: center;
                vertical-align: middle;
                font-family: 'Helvetica', sans-serif;
                font-size: 20px;
                letter-spacing: 2px;
                line-height: 32px;
            }
        }
        &:hover > .hover {
            cursor: pointer;
            opacity: 1;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            p {
                -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
                -moz-transform: translate3d(0px, 0px, 0px) scale(1);
                -ms-transform: translate3d(0px, 0px, 0px) scale(1);
                transform: translate3d(0px, 0px, 0px) scale(1);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
        }
        &:hover {
            background-size: 100%;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
        }
    }
    .work-1 {
        background: url(../images/gnnp.jpg)no-repeat;
        // background-size: cover;
        background-size: 105%;
        background-position: top;
        position: relative;
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
    }
    .work-2 {
        background: url(../images/c1.jpg)no-repeat;
        // background-size: cover;
        background-size: 105%;
        background-position: top;
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
    }
    .work-3 {
        background: url(../images/abv.jpg)no-repeat;
        // background-size: cover;
        background-size: 105%;
        background-position: top;
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
    }
    .work-4 {
        background: url(../images/skyrocket-starterkit.jpg)no-repeat;
        // background-size: cover;
        background-size: 105%;
        background-position: top;
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
    }
}

.section-3 {
    background: #f3f3f3;
    height: auto;
    z-index: 2;
    position: relative;
    text-align: center;
    h2 {
        font-family: 'Roboto', sans-serif;
        padding: 2em 0 1em;
        color: #313131;
    }
    p {
        color: #313131;
        font-family: 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }
    .experience-wrapper {
        width: 100%;
        height: auto;
        display: inline-block;
        .company {
            height: 250px;
            width: 33.3333%;
            float: left;
            position: relative;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            .logo {
                position: relative;
                z-index: 3;
                vertical-align: middle;
                padding: 5.1em 0px;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
                img {
                    height: 82px;
                }
            }
            .filter-1 {
                background: rgba(0, 0, 0, 0.7);
                position: absolute;
                z-index: 2;
                height: 250px;
                width: 100%;
                float: left;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            .filter-2 {
                background: rgba(71, 95, 119, 0.40);
                position: absolute;
                z-index: 2;
                height: 250px;
                width: 100%;
                float: left;
            }
            .filter-3 {
                background: rgba(0, 0, 0, 0.2);
                position: absolute;
                z-index: 2;
                height: 100%;
                width: 100%;
                opacity: 0;
                // -webkit-trans    form: translate3d(0px, 350px, 0px) scale(1);
                // -moz-transform: translate3d(0px, 350px, 0px) scale(1);
                // -ms-transform: translate3d(0px, 350px, 0px) scale(1);
                // transform: translate3d(0px, 350px, 0px) scale(1);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            &.company-1 {
                background: url(../images/dotty-bg.jpg)no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.company-2 {
                background: url(../images/skyrocket-bg.png)no-repeat;
                background-size: cover;
                background-position: center;
                .logo {
                    padding: 5.8em 0px;
                    img {
                        height: 61px;
                    }
                }
            }
            &.company-3 {
                background: url(../images/xml-bg.jpg)no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.company-4 {
                background: url(../images/teamops-bg.png)no-repeat;
                background-size: cover;
                background-position: center;
            }
            .description {
                opacity: 0;
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                margin: auto;
                vertical-align: middle;
                -webkit-transform: translate3d(0px, 120px, 0px) rotateX(0deg) scale(1);
                -moz-transform: translate3d(0px, 120px, 0px) rotateX(0deg) scale(1);
                -ms-transform: translate3d(0px, 120px, 0px) rotateX(0deg) scale(1);
                transform: translate3d(0px, 120px, 0px) rotateX(0deg) scale(1);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
                .description-wrapper {
                    width: 100%;
                    height: 100%;
                    display: table;
                    text-align: center;
                    .description-content {
                        width: 50%;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                p {
                    color: #f3f3f3;
                    font-family: 'Chathura', sans-serif;
                    font-size: 28px;
                    line-height: 24px;
                    ;
                    letter-spacing: 1px;
                }
            }
            &:hover {
                cursor: pointer;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            &:hover .logo {
                -webkit-transform: translate3d(0px, -30px, 0px) rotateX(0deg) scale(1);
                -moz-transform: translate3d(0px, -30px, 0px) rotateX(0deg) scale(1);
                -ms-transform: translate3d(0px, -30px, 0px) rotateX(0deg) scale(1);
                transform: translate3d(0px, -30px, 0px) rotateX(0deg) scale(1);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            &:hover .filter-3 {
                height: 250px;
                opacity: 1;
                -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
                -moz-transform: translate3d(0px, 0px, 0px) scale(1);
                -ms-transform: translate3d(0px, 0px, 0px) scale(1);
                transform: translate3d(0px, 0px, 0px) scale(1);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            &:hover .description {
                opacity: 1;
                -webkit-transform: translate3d(0px, 45px, 0px) rotateX(0deg) scale(1);
                -moz-transform: translate3d(0px, 45px, 0px) rotateX( 0deg) scale(1);
                -ms-transform: translate3d(0px, 45px, 0px) rotateX(0deg) scale(1);
                transform: translate3d(0px, 45px, 0px) rotateX(0deg) scale(1);
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
        }
    }
}

.contact-me {
    height: 450px;
    background: #f3f3f3;
    background-size: cover;
    background-position: center;
    width: 100%;
    opacity: 1;
    position: relative;
    z-index: 3;
    top: -5px;
    .contact-bg {
        background: url(../images/contact-bg2.jpg)no-repeat;
        background-size: cover;
        background-position: center -150px;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        position: absolute;
        z-index: 2;

    }
    .contact-content{
        position: relative;
        z-index: 3;
    }
    h2 {
        font-family: 'Permanent Marker', cursive;
        color: #313131;
        text-align: center;
        padding: 4em 0;
    }
}

footer {
    background: #282828;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 5;
    p {
        color: #f3f3f3;
        font-family: 'Helvetica Nueue', sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 40px;
        font-weight: 100;
    }
}

//Film
.film {
    background: #f3f3f3;
    height: auto;
    z-index: 2;
    position: relative;
    text-align: center;
    h2 {
        padding: 2em 0 4em;
    }
    h3 {
        padding: 0 0 4em;
    }
    .image-wrapper {
        width: 100%;
        display: inline-block;
        .image {
            width: 33.3333%;
            height: 300px;
            float: left;
            background-size: 180%;
            background-position: center;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
            &:hover {
                cursor: pointer;
                background-size: 160%;
                -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
                transition: all .7s cubic-bezier(1, 0, 0, 1);
            }
            iframe.flickr-embed-frame {
                width: 100%!important;
                height: 100%!important;
                max-width: 100%!important;
            }
            .flickr-embed .flickr-embed-photo img {
                height: 300px!important;
                width: auto!important;
            }
        }
    }
}

section,
div {
    &.hide {
        display: none;
    }
    &.show {
        display: block;
    }
}

.disable-hover {
    pointer-events: none;
}
.btn {
    width: 200px;
    height: auto;
    margin: 0 auto;
    border: 1px #f3f3f3 solid;
    border-radius: 5px;
    padding: .5em 0;
    -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
    transition: all .7s cubic-bezier(1, 0, 0, 1);
    i {
        color: #f3f3f3;
        font-size: 25px;
        margin-right: 14px;
        display: inline-block;
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
    }
    &:hover {
        cursor: pointer;
        background: #f3f3f3;
        -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
        transition: all .7s cubic-bezier(1, 0, 0, 1);
        p,
        i {
            color: #313131;
            opacity: 0.8;
            -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
            transition: all .7s cubic-bezier(1, 0, 0, 1);
        }
    }
}
@media only screen and (max-width: 1366px) {}